@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}

body {
  text-align: center;
  color: #0c4fe1;
  height: 100%; 
}

h1 {
  color: #EABE3F;
  padding: 50px;
  font-size: 40px;
}

.container {
  background-color: none;
  max-width: 80%;
  margin: auto;
  border: 3px solid #EABE3F;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evitar desbordamiento horizontal en dispositivos móviles */
}

.container2 {
  background-color: none;
  max-width: 80%;
  margin: auto;
  border: 3px solid #EABE3F;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evitar desbordamiento horizontal en dispositivos móviles */
}

.textosuperior {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color:black;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.pregunta {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.pregunta2 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
#figura {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 1000px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid black;
    border: none; /* Esta línea quitará el borde del triángulo */
}

.cuadrado {
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 5px solid black; /* Añadir borde al cuadrado */
}

.circulo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    border: 5px solid black; /* Añadir borde al círculo */
}



#reiniciar {
    display: none;
    margin-top: 20px;
}


  #buttons-container {
    margin-top: 10px;
  }
  
  .guess-button {
    background-color: #4285f4;
    color: #fff;
    padding: 20px 20px;
    font-size: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  }

  #play-again-button {
    background-color: #4285f4;
    border: 2px solid #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #play-again-button:hover {
    background-color: #3367d6;
  }

  #result {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: green;
}
@media (max-width: 768px) {
    .container,
    .container2 {
      max-width: 90%; /* Ancho completo en dispositivos móviles */
    }
  
    .pregunta {
      font-size: 30px;
  }
    .pregunta2 {
    font-size: 25px;
  }
    .textosuperior {
      font-size: 25px; /* Tamaño de texto superior en dispositivos móviles */
   }
  }